.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.center {
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 768px) {
  .example-form {
    display: flex;
    justify-content: center;
  }

  .example-form .example-full-width {
    width: 95%;
    max-width: 95%; 
  }
}
