<main>
    <section class="container">
        <div class="sub-container">
            <h1 class="text-center">{{company}}</h1>
            <p id="latestPrice">$ 25.77</p>
            <p id="todaysUpDown">3.03 %</p>
        </div>
        <div class="sub-container">
            <a href="https://example.com"> Company link</a>
            <a href="https://example.com"> BSE link</a>
            <a href="https://example.com"> NSE link</a>
        </div>
        <div class="sub-container-2">
            <section>
                @for (stockDetail of stockFinancialRatios.latest.ratios | keyvalue; track stockDetail.key) {
                <div class="table">
                    <p class="stockProperty"> {{ stockDetail.key }}</p>
                    <p class="stockValue"> {{stockDetail.value | number:'1.2-2' }} </p>
                </div>
                }
            </section>
            <section class="first-child-title">
                <p>About</p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet repellat odit unde nulla, rerum
                    architecto natus fuga quod atque aliquam ab accusamus? Esse hic mollitia possimus, repellendus culpa
                    quo atque.
                </p>
            </section>
        </div>
    </section>

    <section class="container">
        <app-stockchart></app-stockchart>
    </section>

    <section id="pros-cons-section" class="container">
        <section id="pros" class="first-child-title">
            <p>Pros</p>
            @for (pro of pros; track $index) {
            <p> {{ pro }}</p>
            }
        </section>
        <section id="cons" class="first-child-title">
            <p>Cons</p>
            @for (con of cons; track $index) {
            <p> {{ con }}</p>
            }
        </section>
    </section>

    <section class="container">
        <app-comparison-table [name]="'Peer-comparison'" [symbol]="symbol"></app-comparison-table>
    </section>

    <!--

    <section class="container">
        <app-time-series-table [name]="'Quarterly Results'" [symbol]="symbol"></app-time-series-table>
    </section>

    <section class="container">
        <app-time-series-table [name]="'Profit loss'" [symbol]="symbol"></app-time-series-table>
    </section>

    -->

</main>