<main>
    <section class="flex">
        <h1> {{ name }} </h1>
    </section>
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" cdkDropList (cdkDropListDropped)="drop($event)"
        cdkDropListData="dataSource">
        <ng-container matColumnDef="symbol" sticky>
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <mat-icon class="example-drag-cursor">reorder</mat-icon>
                <span>{{element.symbol}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="companyName">
            <mat-header-cell *matHeaderCellDef> Company Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.companyName}} </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="mktCap">
            <mat-header-cell *matHeaderCellDef> Market Capital </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.mktCap}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></mat-row>
    </mat-table>

</main>